<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="i18n.DirectoriesToScan" value=".." />
    <!-- Rel to web.config file -->
    <add key="i18n.WhiteList" value="*.cs;*.cshtml;*.aspx;*.sitemap;*.Master;*.css;*.js" />
    <add key="i18n.InitialLanguage" value="ru" />
  </appSettings>
</configuration>